{% extends 'app/base.html' %}
{% load static %}
{% block title %}Category{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <!-- Sidebar for category titles -->
        <div class="col-sm-3">
            <div class="list-group">
                {% for category in title %}
                    <a href="{% url 'category-title' category.title %}" class="list-group-item 
                    list-group-item-action " aria-current="true">{{ category.title }}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Products Section -->
        <div class="col-sm-9">
            <div class="row">
                {% for prod in product %}
                    <div class="col-md-4 text-center mb-4">
                        <a href="{% url 'productdetail' prod.id %}" class="btn">
                            <div class="card h-100">
                                <img src="{{ prod.product_image.url }}" class="card-img-top" alt="{{ prod.title }}" width="300" height="200">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">{{ prod.title }}</h5>
                                    <p class="card-text">
                                        Rs. {{ prod.discount_price }}/-
                                        <small class="text-muted text-decoration-line-through">
                                            {{ prod.selling_price }}
                                        </small>
                                    </p>
                                    <button class="btn btn-primary mt-full my2">View Details</button>
                                </div>
                            </div>
                        </a>
                    </div>
                {% empty %}
                    <p class="text-center">No products available in this category.</p>
                {% endfor %}
            </div>
        </div>
    </div>  
</div>
{% endblock main-content %}
