.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;
 transition: transform .5s ease;
}

 .owl-carousel .item:hover{
    /* border: 1px solid black; */
    transform : scale(1.1);
}

/* .owl-carousel img{
    transition: transform .5s ease;
  }
 .owl-carousel img:hover{
    
    transform : scale(1.25);
} */

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}




.buttermilk{
    background-color:#fff;background-image:linear-gradient(#fff7ef, #fff);
    background-image:-webkit-linear-gradient(#fff7ef, #fff);
    background-image:-moz-linear-gradient(#fff7ef, #fff);
    background-image:-ms-linear-gradient(#fff7ef, #fff);
    background-image:-o-linear-gradient(#fff7ef, #fff);
    padding:50px 40px;
    border:1px solid #efe8e1;
    padding-bottom:20px;
}

.smbg{
    background-color:#fff;
    background-image:linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(110, 69, 143, 0.1), #fff);
}

.curdbgpro{
    background-color:#fff;
    background-image:linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-webkit-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-moz-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-ms-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
    background-image:-o-linear-gradient(rgba(10, 77, 123, 0.1), #fff);
}

.goodnessseccont img{
    width:100%;
}

.mlkpro{
    color:#636362;
    font-size:22px;
    line-height:22px;
    margin-bottom:15px;
    width:43%;
    margin:0 auto;
    text-align:center;
    
}

.goodnesssec a{
    text-decoration: none;
}

@font-face {
    font-family: "FontAwesome";
    src: url("../webfonts/fa-solid-900.woff2") format("woff2"),
         url("../webfonts/fa-solid-900.woff") format("woff"),
         url("../webfonts/fa-solid-900.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* 1st image */
.card-body{
    padding: 0px;
    margin: 0px;
}

.card-body .fw-semibold{
    font-size: 2rem;
}

.card-body .btn-primary{
    font-size: 1.rem;
    font-weight: bold;
    margin-top: 10px;
}


/* Card Hover Effect */

/* Image Hover Effect */
.card img {
    transition: transform 0.3s ease-in-out;
}
.card:hover img {
    transform: scale(1.05);
}

/* Button Hover Effect */
.btn-warning {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.btn-warning:hover {
    background-color: #ffcc00; /* Brighter yellow */
    color: #000; /* Black text */
    transform: scale(1.05); /* Slightly enlarge button */
}

.img-fluids{
    background-size:cover;
}


/*  free delivery*/
.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    background: rgb(239, 193, 193);
    flex-wrap: wrap;
}

.feature-box {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    width: 250px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.feature-box i {
    font-size: 40px;
    color: #e44d26;
    margin-bottom: 15px;
}

.feature-box h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.feature-box p {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

/* Responsive Design */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }

    .feature-box {
        width: 80%;
        margin-bottom: 20px;
    }
}
